@import "/src/app/styles/variables";
$ig-blue:$primary;
@import "react-image-gallery/styles/scss/image-gallery";



.photo-gallery {
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: none;
  }
  .image-gallery-slide .image-gallery-description {
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    background: $dark-color;// rgba(255,255,255,0.1);
    border-radius: $border-radius;

  }
  .image-gallery-content.fullscreen {
    background: #000;
    height: 100vh;
   // height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    .image-gallery-slide-wrapper {
      height: 100%;

      flex: 1 0;
    }
  }
  .image-gallery-slide-wrapper {
    height: 400px;
    .image-gallery-swipe {
      height: 100%;
    }
    .image-gallery-slides {
      height: 100%;
      .image-gallery-slide {
        //  border: 1px solid red;
        height: 100%;
      }
    }
  }


  .image-gallery-thumbnail.active, .image-gallery-thumbnail:focus , .image-gallery-thumbnail:hover{
    border-radius: $border-radius;
  }
  .image-gallery-thumbnail {
    height: auto;
    width: auto;
    .image-gallery-thumbnail-inner {
      height: 60px;
      width:100px;
      .image-gallery-thumbnail-image {
        object-fit: contain;
        background-color: $dark-color;
      }
    }

  }
}

