@import "/src/app/styles/variables";
$ig-blue: $primary;
@import "react-image-gallery/styles/scss/image-gallery";
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";


$image-height: 400px;

.photo-gallery {
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: none;
    background-color: $gray-200;
    border-radius: $border-radius;
  }

  .image-gallery-slide .image-gallery-description {
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    //  background: $dark-color;// rgba(255,255,255,0.1);
    border-radius: $border-radius;

  }

  .image-gallery-content.fullscreen {
    background: #000;
    height: 100vh;
    // height: -webkit-fill-available;
    display: flex;
    flex-direction: column;

    .image-gallery-slide-wrapper {
      height: 100%;

      flex: 1 0;
    }
  }

  .image-gallery-slide-wrapper {
    height: $image-height;

    .image-gallery-swipe {
      height: 100%;
    }

    .image-gallery-slides {
      height: 100%;

      .image-gallery-slide {
        //  border: 1px solid red;
        height: 100%;
      }
    }
  }


  .image-gallery-thumbnail.active,
  .image-gallery-thumbnail:focus,
  .image-gallery-thumbnail:hover {
    border-radius: $border-radius;
  }

  .image-gallery-thumbnail {
    height: auto;
    width: auto;

    .image-gallery-thumbnail-inner {
      height: 60px;
      width: 100px;

      .image-gallery-thumbnail-image {
        object-fit: contain;
        background-color: $gray-200;
      }
    }

  }
}