@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";

.popover-container {
    position: absolute;

}

.popover {
    background-color:gainsboro;
    border-radius: 8px;
}

.arrow path {
    fill:$light;
}

.container {
    padding:0 60px;
    border:1px solid green;
    position:relative;
    overflow: hidden;
}

.arrow {
    position:absolute;
}
$arrow-size: 15px;

.arrow-left {
    width: 0;
    height: 0;
    border-top: #{$arrow-size} solid transparent;
    border-bottom: #{$arrow-size} solid transparent;

    border-right:#{$arrow-size} solid gainsboro;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: #{$arrow-size} solid transparent;
    border-bottom: #{$arrow-size} solid transparent;

    border-left: #{$arrow-size} solid gainsboro;
}
$breakpoint:map-get($grid-breakpoints,"md");

$max-width:$breakpoint - 1;
@media (max-width:$max-width) {
    .container {
        padding:0;
    }
    .popover {
        display:none;
    }
}
//map-get($grid-breakpoints,"xxl");